@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400,500,700&display=swap');

body {
    line-height: 1.4;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

a {
    cursor: pointer;
}

/* button */
.btn {
    width: 260px;
    height: 70px;
    background-color: #111;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 70px;
}

/* section */
.section {
    max-width: 1400px;
    margin: 0 auto;
}