@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    line-height: 1.4;
    font-size: 12px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

.main {
    width: 375px;
    margin: 0 auto;
    padding: 0 18px;
}

.mr20 {
    margin-bottom: 20px;
}

.wrap {
    height: 667px;
    overflow: scroll;
}

/* header */
.header {
    height: 40px;
    align-items: center;
    display: flex;
    gap: 8px;
}

.header h3 {
    font-weight: 700;
    font-size: 14px;
}

.header i {
    font-size: 24px;
}

.header .bell {
    margin-left: auto;
    font-size: 24px;
}

/* search */
.search {
    height: 40px;
    display: flex;
    align-items: center;
    border: solid 1px #666;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
}
/* menu */
.menu {}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    gap: 10px;
    text-align: center;
}

/* banner */
.banner img {
    border-radius: 10px;
}


/* section */
.section .item {
    display: flex;
    gap: 10px;
}
.section .sectionTitle  {
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.section .item img {
    width: 220px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 16px;
}

.section .item {
    position: relative;
}

.section .item .itemModal{
    background-color: #172F62;
    border-radius: 10px;
    color: #fff;
    width: 180px;
    height: 20px;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.section .item .itemModal2{
    background-color: #172F62;
    border-radius: 10px;
    color: #fff;
    width: 180px;
    height: 20px;
    position: absolute;
    bottom: 30px;
    left: 250px;
}

.section .item .text{
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.section .item .text h3{
    font-weight: 700;
    font-size: 14px;
}

.section .item .text p {
    font-size: 9px;
    color: #666;
}


/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* position: relative; */
    position: fixed;
    width: 375px;
    height: 60px;
    top: 607px;
    left: 0px;
    background-color: #fff;
    padding: 14px 18px;
}


.footer ul i {
    font-size: 24px;
}

.footer ul p {
    font-size: 9px;
}

/* modal */
.modal {
    width: 375px;
    height: 60px;
    background-color: #4EACF7;
    position: absolute;
    bottom: 60px;
    left: -18px;
    display: none;

}
